body{
    background-color: bisque;
    font-family: Verdana;
}
#title, .subtitle{
color:rgb(84, 124, 47);
font-size: 40xp;
text-transform: uppercase;
}
.a{
    text-decoration:line-through;
    color: #505050;

}
.subtitle{
    font-size: 18;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sessao{
    background-color:peru;
    padding: 10px;
    border: 10px outset blueviolet;
    border-radius: 10px;
    margin: 10px;
}
.img{
    border:3px solid gray;
    border-radius:50%;

}
.maca{
    list-style-type: "🍎" ;
}
.uva{
    list-style-type: "🍇"
}
.caju{
    list-style-type:square;
}